version: '3.8'

services:
  mysql:
    image: mysql:8
    container_name: community_mysql
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=community
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - community-net
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-p$${MYSQL_PASSWORD}" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s

  app:
    image: hyunwoonoh/community-server:latest
    container_name: community-server
    restart: always
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_DATASOURCE_URL=${MYSQL_URL}
      - SPRING_DATASOURCE_USERNAME=${MYSQL_USERNAME}
      - SPRING_DATASOURCE_PASSWORD=${MYSQL_PASSWORD}
      - FILE_UPLOAD_PATH=${FILE_UPLOAD_PATH}
    ports:
      - "8080:8080"
    volumes:
      - /home/ubuntu/community_images:/app/upload
    networks:
      - community-net

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - community-net
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 30

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/cert.pem:/etc/nginx/conf.d/cert.pem
      - ./nginx/key.pem:/etc/nginx/conf.d/key.pem
    depends_on:
      - app
    networks:
      - community-net

networks:
  community-net:

volumes:
  mysql-data:
