version: '3.8'

services:
  mysql:
    image: mysql:8
    container_name: local-mysql
    ports:
      - "3308:3306" # IDE 설정에서 DB 포트를 3308로 맞춰야 함
    environment:
      - MYSQL_ROOT_PASSWORD=1234
      - MYSQL_DATABASE=community
    volumes:
      - local-mysql-data:/var/lib/mysql
    networks:
      - community-net
    healthcheck: # 배포용과 동일하게 유지하여 안정성 확보
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-p1234"]
      interval: 10s
      retries: 5

  redis:
    image: redis:latest
    container_name: local-redis
    ports:
      - "6379:6379"
    networks:
      - community-net
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s

  nginx:
    image: nginx:latest
    container_name: local-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx-local.conf:/etc/nginx/nginx.conf:ro
      - ./src/main/resources/static/favicon.ico:/usr/share/nginx/html/favicon.ico:ro
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - community-net

networks:
  community-net:

volumes:
  local-mysql-data: