spring:
  profiles:
    active: default

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: false

  data:
    redis:
      host: redis
      port: 6379

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE