spring:
  profiles:
    active: default

  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

  data:
    redis:
      host: redis
      port: 6379

logging:
  level:
    org.hibernate.SQL: info
    org.hibernate.type.descriptor.sql: info
    org.springframework.data: info